<!DOCTYPE html>
<html lang="en">

<head>
  <title>admin_page.ejs</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin_page.js"></script>
</head>

<body>
  BODY START
  <header>HEADER</header>
  <main>
    MAIN START
    <section id="admin-hub">

    </section>
  </main>
  MAIN END
  <footer>FOOTER</footer>
  BODY END
</body>

</html>
