<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/create_poll.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/create_poll.js"></script>

  <title>create_poll.ejs</title>
</head>

<body>
  <header>HEADER</header>

  <br>

  <main>
    <form id="new-poll-form" name="new-poll-form">
      <section id="title-container">
        <input id="new-poll-title" class="valid-title" placeholder="Title" name="title">
      </section>

      <section id="description-container">
        <textarea id="new-poll-description" placeholder="Description (optional)" name="description"></textarea>
      </section>

      <section id="choices-container">
        <!-- Section starts off with two choices as default - jQuery will add more if desired by creator. -->
        <input class="new-poll-choice valid-choice" placeholder="Choice" name="choice-1">
        <input class="new-poll-choice valid-choice" placeholder="Choice" name="choice-2">
      </section>

      <section id="choices-error-container">

      </section>


      <section id="add-choice-container">
        <button id="add-choice-button" type="button" class="btn">+</button>
        <button id="reset-choices-button" type="button" class="btn"><i class="fas fa-redo"></i></button>
        <button id="remove-choice-button" type="button" class="btn">-</button>
      </section>

      <section id="email-container">
        <input id="new-poll-email" class="valid-email" type="email" placeholder="Email" required>
      </section>

      <section id="name-option-container">
        <label for="name-option-checkbox">Require Participant's Name?</label>
        <input id="name-option-checkbox" type="checkbox" name="name-option-checkbox">
      </section>

      <section id="button-container">
        <button id="create-poll-button" type="button" class="btn">Create Poll</button>
      </section>
    </form>
  </main>

  <br>

  <footer>
    &copy; 2021 Spooky Boys, Inc. The Spooky Boys name and logo are registered trademarks owned by Spooky Boys, Inc. and
    are registered or used in the U.S., Canada and many foreign countries.
  </footer>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
