<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/create_confirmation.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/create_confirmation.js"></script>

  <title>create_confirmation.ejs</title>
</head>

<body>
  <%- include('partials/_nav-bar') %>

  <br>

  <main>
    <section id="main-details">
      <section id="title-container">
        <h2 id="title"><span id="title-name">
            <%= title %>
          </span> poll is ready to share.
        </h2>
      </section>

      <br>

      <section id="description-container">
        <h5 id="description">Description</h5>
        <span id="description-content">
          <%= description %>
        </span>
      </section>

      <br>
      <br>

      <section id="link-container">
        <h5 id="link">Links</h5>
        <div>
          <span>Participant's Link</span>
          <button id="submittor-link" type="click"><i class="far fa-clipboard"></i></button>
        </div>
        <div>
          <span>Administrator's
            Link&nbsp;&nbsp;</span>
          <button id="admin-link" type="click"><i class="far fa-clipboard"></i></button>
        </div>
      </section>

      <br>

      <section id="email-container">
        <span>An email with these links has also been sent to <b>
            <%= email %>
          </b>.</span>
      </section>
      <br>
      <section id="name-option-container">
        <% if (nameRequired==='true' ) { %>
          <i>Participants will be required to provide their name.</i>
          <% } else { %>
            <i>Participants will not be required to provide their name.</i>
            <% } %>
      </section>

  </main>

  <br>

  <footer>FOOTER</footer>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
