<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/draggable.js"></script>

</head>

<body>

  <section class="rank-submission">
    <form action="/ranking-submission" method="POST">
      <label for="email">Name *required</label>
      <input type="name" name="name" placeholder="name" style="width: 300px; margin: 1em">
      <div id="ranking-container">
        <ul id="sortable-8">
          <div class="draggable-rank" id ="1" style="width: 200px; height: 50px; background-color: blue;">Choice 1</div>
          <div class="draggable-rank" id ="2" style="width: 200px; height: 50px; background-color: red;">Choice 2</div>
          <div class="draggable-rank" id ="3" style="width: 200px; height: 50px; background-color: purple;">Choice 3</div>
          <div class="draggable-rank" id ="4" style="width: 200px; height: 50px; background-color: green;">Choice 4</div>
          <div class="draggable-rank" id ="5" style="width: 200px; height: 50px; background-color: orange;">Choice 5</div>
        </ul>
      </div>
      <span id="sortable-9"></span>
      <button type="submit">Submit votes</button>
    </form>
  </section>


</body>

</html>

