<!DOCTYPE html>
<html lang="en">

<head>
  <title>Decision Maker | Poll Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/results.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/bar_chart.js"></script>

  <!-- Chart CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
</head>

<body>
  <%- include('partials/_nav-bar') %>
    <main>
      <button id="reveal" type="button" class="btn btn-outline-light btn-lg">Reveal Results</button>
    </main>

    <!-- <footer>
      &copy; 2021 Spooky Boys, Inc. The Spooky Boys name and logo are registered trademarks owned by Spooky Boys, Inc.
      and
      are registered or used in the U.S., Canada and many foreign countries.
    </footer> -->
</body>

</html>
