
  <div id="ranking-container" style="height: 800px;">
    <ul id="sortable">
      <li class="ui-state-default" style="width: 200px; height: 50px; background-color: blue;">Choice 1</li>
      <li class="ui-state-default" style="width: 200px; height: 50px; background-color: red;">Choice 2</li>
      <li class="ui-state-default" style="width: 200px; height: 50px; background-color: purple;">Choice 3</li>
      <li class="ui-state-default" style="width: 200px; height: 50px; background-color: green;">Choice 4</li>
      <li class="ui-state-default" style="width: 200px; height: 50px; background-color: orange;">Choice 5</li>
    </ul>
  </div>
