<!DOCTYPE html>
<html lang="en">

<head>
  <title>temp_submit_poll.ejs</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/temp_submit_poll.js"></script>
</head>

<body>
  BODY START
  <header>HEADER</header>
  <main>
    MAIN START
    <section id="poll-form">
      ALEX'S PAGE
    </section>
  </main>
  MAIN END
  <footer>FOOTER</footer>
  BODY END
</body>

</html>
