<!DOCTYPE html>
<html lang="en">

<head>
  <title>temp_result.ejs</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/temp_result.js"></script>
</head>

<body>
  BODY START
  <header>HEADER</header>
  <main>
    MAIN START
    <section id="result">
      JORDAN'S PAGE
    </section>
  </main>
  MAIN END
  <footer>FOOTER</footer>
  BODY END
</body>

</html>
