#admin-hub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#copy-result {
  border: none;
  background-color: inherit;
  color: orange;
  cursor: pointer;
}

#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-link {
  color: white;
  height: 2.5em;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#title {
  color: indianred;
}
