#main-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  color: indianred;
}

#description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#description-content {
  text-align: justify;
}

#link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#email-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
