body {
  height: 100%;
  min-width: 455px;
}

main {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 100px;
  font-size: 4rem;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#app-name {
  color: indianred;
}

#new-poll-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

#title-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
}

#description-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

textarea {
  margin-top: 0.5em;
  height: 10em;
}

#choices-container {
  display: flex;
  flex-direction: column;
  width: 25%
}

#add-choice-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 25%;
}

.new-poll-choice {
  margin-top: 0.5em;
}

#add-choice-button {
  color: white;
  width: 2.5em;
  height: 2.5em;
}

#remove-choice-button {
  color: white;
  width: 2.5em;
  height: 2.5em;
}

#reset-choices-button {
  background-color: black;
  color: white;
  width: 3em;
}

#email-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 25%;
}

#email-error {
  color: red;
}

#name-option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  width: 25%;
}

#button-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: 25%;
}

#create-poll-button {
  color: white;
  height: 2.5em;
}

textarea {
  resize: none;
  padding-left: 0.5em;
}

input {
  padding-left: 0.5em;
}

footer {
  margin-top: 12em;
}

.invalid-title::placeholder {
  color: red;
}

.invalid-email::placeholder {
  color: red;
}

.invalid-choice::placeholder {
  color: red;
}

.choices-error {
  color: red;
}

#create-poll-heading {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
