$orange: #9b4c06;
$black: #000000;
$form-color: #9fa894;
$font-color: #f5dbc6;
$border-radius: 5px;

@font-face {
  font-family: 'spooky-sphere';
  src: url("../fonts/spooky-sphere.otf") format("opentype");
}

body,
html {
  margin: 0;
  height: 100%;
  font-family: 'spooky-sphere', sans-serif;
  color: $font-color;
}

html {
  box-sizing: border-box;
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-45deg, $black, $orange, $black, $orange);
    animation: gradient 45s ease infinite;
    background-size: 400% 400%;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

input {
  background-color: $form-color;
  border-radius: $border-radius;
}

textarea {
  background-color: $form-color;
  border-radius: $border-radius;
}
