#barchart {
  height: 400px;
  max-width: 400px;
  top: 100px;
  margin: 0 auto;
  background-color: transparent;
  color: white;

  tbody td {
    transform-origin: left;
    animation: revealing-bars 4s linear;
    border-radius: 5%;
    height: 20px;
    background-color: #78a057;
    color: rgb(245, 245, 245);
  }
}

@keyframes revealing-bars {
  0%  { transform: scaleX( 0 ); }
  15% { transform: scaleX( 1 ); }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reveal {
  width: auto;
}

h1 {
  font-size: 5rem;
  color: indianred;
}

h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
}
