.rank-submission .draggable-rank{
  width: 200px;
  height: 50px;
  margin-bottom: 0.5em;
  padding-top:15px;
  text-align: center;
  border-radius: 10px;
  color: rgb(37, 37, 37);
  font-weight:600;
  align-self: center;
}

.ui-sortable {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-left: 0px;
}

.rank-submission h1 {
  color: #fff;
}

.rank-submission span {
  display: block;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #fff;
}

.draggable-rank {
  background-color: orange;
  // transition: 0.3s;
}

.draggable-rank:hover {
  background-color: rgb(255, 196, 87);
}

.draggable-rank p {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.rank-submission label {
  color: #fff;
  padding-left: 1em;
}

#name-field {
  margin-top: 7px !important;
}

#ranking-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#ranking-form button {
  width: 50%;
  background-color: whitesmoke;
  align-self: center;
  transition: 0.3s;
}

#ranking-form button:hover {
  opacity: 0.8;
}

//jank-fix
.nav-bar {
  padding-left: 1em;
}
